.my-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-gap: 1rem;
  /*grid-auto-rows: 100px;*/
  grid-auto-rows: minmax(100px, auto);
}

.my-container div {
  background-color: bisque;
  padding: 1rem;
}

.my-container div:nth-child(odd) {
    background-color: rgb(105, 93, 79);
}

.nested{
    display: grid;
    /* Trijų stulpelių layout */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    grid-gap: 1rem;
}

.nested div {
    background-color: rgb(214, 163, 96);
    padding: 1rem;
}

.nested div:nth-child(odd){
    background-color: brown;
}

