@mixin link_fonts($font_size) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font_size;
}

@mixin ahover($spalva) {
  color: $spalva;
}

nav{
    background-color: $navbar-color;
    list-style: none;
    padding: 2rem;

    li{
        display: block;
        margin: 0.5rem;
    }
    a{
        color: white;
        text-decoration: none;
        padding: 0.5rem;
        @include link_fonts(2rem);
    }
    a:hover {
        @include ahover(rgb(46, 28, 5));
    }

    @media only screen and (min-width: 768px) {
        li{
            display: inline-block;
        }
    }
}